.populares{
padding: 3rem 2rem;

}

.populares__contenido{
display: flex;
flex-wrap: wrap;
grid-area: contenido;
padding: 1rem 0;
}

.populares__card{
background-color: rgb(236, 231, 231);
display: grid;
grid-template-areas: 
"card-imagen" 
"card-base" ;
grid-template-columns: 100%;
grid-template-rows: 173px auto;
margin-right: 1rem;
width: calc(20% - 1rem);
}

.populares__card___imagen{
grid-area: card-imagen;
height: 100%;
width: 100%;
}

.populares__card___base{
grid-area: card-base;
display: grid;
grid-row-gap: .5rem ;
grid-template-areas: 
"card-header"
"card-descripcion";
grid-template-rows: 50px auto;
padding: .75rem;

} 

.populares__card___descripcion{
  display: flex;
  flex-wrap: wrap;
  grid-area: card-descripcion ;
  padding: 1rem 0;
  color: rgb(49, 20, 20);
  line-height: 1.5 ;
  margin: 1rem 0;
text-align: justify;
}
.populares__card___titulo{
color: rgba(70, 41, 41, 0.888); 
font-size: 20px;
}

.populares__card___data{
color: rgba(70, 41, 41, 0.888);
font-size: .9rem;
}

.populares__titulo{
font-weight: 500;
}

.populares__icon{
margin-right: .30rem;

}
.populares__header{
border-bottom: 1px solid grey;
display: flex;
justify-content: space-between;
}
.populares__boton{
background: transparent;
border: none;
color: grey; 
}

.populares__card:last-child {
margin-right: 0;
}

